#child1{
    margin:auto ;
    width: 80%;
    background-color:orange ;
}
#child2{
    margin:auto ;
    width: 80%;
    background-color: yellow;
}
.parent {
    border: 2px solid #000;
    padding: 1rem;
    max-width: 300px;
    margin: auto;
  }
