#child1{
    margin:auto ;
    width: 80%;
    background-color:orange ;
}
#child2{
    margin:auto ;
    width: 80%;
    background-color: yellow;
}
#main{
    width: 20%;
    background-color: greenyellow;
}
